<div
  *ngIf="options | async as options"
  class="dropdown-wrapper"
  [class.focus]="isFocused"
  [class.is-open]="isOpen"
  [class.disabled]="isDisabled"
>
  <div class="box" (click)="toggle()">
    <ng-container>
      <div class="dropdown-selected">
        <span>{{
          noTranslate
            ? selectedLabel
            : (selectedLabel | transloco: { length: options[selected]?.value })
        }}</span>
      </div>
    </ng-container>
  </div>

  <ul class="dropdown-options" [id]="'list-' + dropdownCounter" role="listbox" *ngIf="isOpen">
    <li
      *ngFor="let option of options; let i = index"
      [id]="'li-' + dropdownCounter + '-' + i"
      role="option"
      [attr.aria-selected]="selected === i"
      (mousedown)="$event.preventDefault()"
      (click)="optionSelect(option.value, i)"
      [class.selected]="selected === i"
      [class.highlighted]="highlighted === i"
    >
      {{
        noTranslate
          ? option.text ?? option.value
          : (option.text ?? option.value | transloco: { length: option.value })
      }}
    </li>
  </ul>
</div>
